<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>J'y accède | Trouvez les endroits amménagés en quelques clics</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/justified-nav.css" rel="stylesheet">
    
    <link href="/css/main.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <header>
        <img src="/images/logo.png" id="logo"/>
        <div class="cc">
            <nav>
                <ul>
                    <li><a href="{{ path("jyacc_homepage") }}">Home</a></li>
                    <li><a href="#actus">Actualités</a></li>
                    <li><a href="{{ path("jacc_search") }}">Lieux</a></li>
                    <li><a href="{{ path("jacc_list") }}">Arrêts/Lignes</a></li>
                    <li><a href="https://www.facebook.com/pages/Jyaccede/491581060974118" target="_blank">Facebook</a></li>
                    <li><a href="https://twitter.com/Jyaccede" target="_blank">Twitter</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="wrapcont">
		<div class="cc">
		   D&eacute;couvrez notre toute nouvelle application mobile &agrave; l'occasion du concours #Hack4France
		   <a href="https://github.com/lelexxx/jyaccede/tree/master/mobileApp">Ici</a>.
	   </div>
	</div>

    {% block content %}
        <div id="wrapfeat">
            <div class="cc">
                <div class="smphone"></div>
                <div id="homeDesc">
                    <p>Trouvez des lieux accessibles en quelques clics.</p>
                    <form action="{{ path("jacc_search") }}" id="searchForm" method="POST" >
                        <div class="input-group input-group-lg" style="width: 100%; margin-bottom: 10px;">
                            <input type="text" class="form-control" placeholder="Saisissez une ville" id="city" name="city" 
                                   style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;"/>
                        </div>
                        <div class="input-group input-group-lg" style="width: 100%; margin-bottom: 10px;">
                            <input type="text" class="form-control" placeholder="Saisissez votre point de départ" id="from" name="from" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                        
                        <div class="input-group input-group-lg" style="width: 100%; margin-bottom: 10px;">                            
                            <select class="form-control" name="what" id="categories" style="-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;">
								<option value="">--Quoi ?--</option>
							</select>
							<div class="radio-inline">
								<label>
								  <input type="radio" name="how" value="car" checked>
								  Voiture / Piéton
								</label>
							</div>
							<div class="radio-inline">
								<label>
								  <input type="radio" name="how" value="bus">
								  Transport en commun
								</label>
							</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}

    <section id="actus">
        {% block actus %}
        {% endblock %}
    </section>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster-->
{% block js %}
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">

        function loadCategories(){
            var datas = {{ categories|raw }};
            
            var results=datas.results.results;
            for(result in results)
            {
                var category=results[result];
                var select = document.getElementById("categories");
                select.options[select.options.length] = new Option(category.name, category.name);
            }
        }

        loadCategories();
    </script>
{% endblock %}
</body>
</html>
