{% extends "::base.html.twig" %}

{% block content %}
    <input checked="checked" type="checkbox" /> Accessible aux personnes à mobilité réduite ?

    <h2>Lignes</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            {% for result in lines %}
                <tr>
                    <td>
                        {{ result.name }}
                    </td>
                    <td>
                        Accessible ?
                        <form action="{{ path("update_line_stop") }}" method="POST">
                            <input type="hidden" name="id" value="{{ result.id }}"/>
                            <input type="hidden" name="type" value="line"/>
                            <input type="hidden" name="isPmr" value="1"/>
                            <input type="submit" value="Oui" />
                        </form>
                        <form action="{{ path("update_line_stop") }}" method="POST">
                            <input type="hidden" name="id" value="{{ result.id }}"/>
                            <input type="hidden" name="type" value="line"/>
                            <input type="hidden" name="isPmr" value="0"/>
                            <input type="submit" value="Non" />
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>Pas de résultat</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <h2>Arrêts</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            {% for result in stops %}
                <tr>
                    <td>
                        {{ result.name }}
                    </td>
                    <td>
                        Accessible ?
                        <form action="{{ path("update_line_stop") }}" method="POST">
                            <input type="hidden" name="id" value="{{ result.id }}"/>
                            <input type="hidden" name="type" value="stop"/>
                            <input type="hidden" name="isPmr" value="1"/>
                            <input type="submit" value="Oui" />
                        </form>
                        <form action="{{ path("update_line_stop") }}" method="POST">
                            <input type="hidden" name="id" value="{{ result.id }}"/>
                            <input type="hidden" name="type" value="stop"/>
                            <input type="hidden" name="isPmr" value="0"/>
                            <input type="submit" value="Non" />
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>Pas de résultat</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
