{% extends "::base.html.twig" %}

{% block content %}
    <style>
        form, form input {width: 50px; margin: 0;}
        .displayLeft { float: left; margin-right: 10px; }
    </style>
    
    <form action="" method="POST" style="width: 100%;">
        <input checked="checked" type="checkbox" name="isPmr" value="1"/> Accessible aux personnes à mobilité réduite ?
        <input type="submit" value="Filtrer" class="form-control" />
    </form>
    <h2>Lignes</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            {% for result in lines %}
                <tr>
                    <td>
                        {{ result.name }}
                        {% if result.isPmr == 1 %}
                            <span>Est accessible aux PMR</span>
                        {% endif  %}
                    </td>
                    <td>
                        <span class="displayLeft">Accessible ?</span>
                        <form action="{{ path("update_line_stop") }}" method="POST" class="displayLeft">
                            <input type="hidden" name="id" value="{{ result.id }}"/>
                            <input type="hidden" name="type" value="line"/>
                            <input type="hidden" name="isPmr" value="1"/>
                            <input  type="submit" value="Oui" class="form-control" />
                        </form>
                        <form action="{{ path("update_line_stop") }}" method="POST" class="displayLeft">
                            <input type="hidden" name="id" value="{{ result.id }}"/>
                            <input type="hidden" name="type" value="line"/>
                            <input type="hidden" name="isPmr" value="0"/>
                            <input type="submit" value="Non" class="form-control" />
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>Pas de résultat</td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <h2>Arrêts</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            {% for result in stops %}
                <tr>
                    <td>
                        {{ result.name }}
                    </td>
                    <td>
                        <span class="displayLeft">Accessible ?</span>
                        <form action="{{ path("update_line_stop") }}" method="POST" class="displayLeft">
                            <input type="hidden" name="id" value="{{ result.id }}"/>
                            <input type="hidden" name="type" value="stop"/>
                            <input type="hidden" name="isPmr" value="1"/>
                            <input type="submit" value="Oui" class="form-control" />
                        </form>
                        <form action="{{ path("update_line_stop") }}" method="POST" class="displayLeft">
                            <input type="hidden" name="id" value="{{ result.id }}"/>
                            <input type="hidden" name="type" value="stop"/>
                            <input type="hidden" name="isPmr" value="0"/>
                            <input type="submit" value="Non" class="form-control" />
                        </form>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>Pas de résultat</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
